body{
  background:#717D7E;
  font-size:125%;
  text-align:center;
}
header{
  background:#3498DB;
  text-align:center;
  }
h3, span{
  background:#3498DB;
  font-size:125%;
  text-align:center;
}